<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>演示bootstrap的table 组件 </title>


    <!--引入 jquery文件 -->
    <script src="../../js/jquery/jquery-3.2.1.js" type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
    <div class="container">
        <div>
            <!-- 通过设置远程url 如 data-url="data1.json" 来加载数据 -->
            <table data-toggle="table" data-url="data1.json">
                <thead>
                    <tr>
                        <th data-field="id">Item ID</th>
                        <th data-field="name">Item Name</th>
                        <th data-field="price">Item Price</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>